<h1>
  <span>Longing for</span><br>
  <span id="tripText"></span>
</h1>

<div class="trips">a road trip?</div>
<div class="trips">a journey?</div>
<div class="trips">a quest?</div>
<div class="trips">adventure?</div>

<a href="#" class="cta">Start Planning Now <i class="ion-chevron-right chev1"></i><i class="ion-chevron-right chev2"></i><i class="ion-chevron-right chev3"></i></a>

<div class="overlay">
  <div class="modal">
    <div class="close-btn">
      <i class="ion-close-round"></i>
    </div>
    <div class="text-box">
      <p class="lead">All things vacation</p>
      <p>Sign up for our newsletter to receive: Trip Ideas, Travel Routes, and Vacation Journals.</p>
    </div>
    <div class="graphic"></div>
    <form>
      <input type="email" name="email" placeholder="example@email.com">
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
